@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');


.register_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #A8BCFF;
    align-items: center;
    justify-content: center;
}
.register{
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px 55px;
}

.register_name,.register_text{
    text-align: center;
    padding-bottom: 10px;
}
.register_name{
font-family:'Josefin Sans', sans-serif;
font-size: 1.5rem;
color: #83a0ff;
font-weight: 600;
}

.register_text{
    font-family: 'Josefin Sans', sans-serif;
}

.register_details{
    display: flex;
    flex-direction: column;
}
.register_details>input{
    padding: 1rem;
    outline: 0;
    background: transparent;
    border: none;
    border-bottom: 1.5px solid rgb(233, 236, 240);
}
.register_details>input:focus{
    border-bottom: 1.5px solid rgb(160, 152, 152);
}

.add_avatar{
    display: flex;
    align-items: center;
    margin-top: 4px;
}
.add_avatar a{
    text-decoration: none;
    font-family: "Josefin Sans";
    font-size: 0.9rem;
    color: #A8BCFF;
}
.add_avatar img{
    width: 2.5rem;
    
    margin: 0.3rem;
}
.signup{
    margin-top: 0.5rem;
    width: 100%;
    height: 2rem;
    font-family: "Josefin Sans";
    font-weight: 700;
    color: aliceblue;
    background-color: #83a0ff;
    border: none;
}

.already_acc{
    font-family: "Josefin Sans";
    font-weight: 400;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 1rem;
}